*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Bubbler One", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gainsboro;
}
.wrapper{
  display: flex;
  width: 850px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.08);
  margin-left: 50px;
  margin-right: 50px;
}
.wrapper img{
  width: 50px;
  height: 50px;
}
.left-section h1{
  text-align: center;
}
.left-section{
  width: 45%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: linear-gradient(to bottom, #222831 0%,#393e46 50%,#222831 100%);
}
.left-section img{
  transition: transform 0.25s ease;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.15));
}
.left-section img:hover{
  transform: translateY(-3px);
  cursor: pointer;
}
.right-section{
  color:#222831;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background-color: white;
}
.right-section h2{
  width: 200px;
  text-align: center;
  margin-bottom: 25px;
}
.right-section img{
  transition: transform 0.25s ease;
  filter: drop-shadow(0px 3px 6px rgba(255, 255, 255, 0.15));
}
.right-section img:hover{
  transform: translateY(-3px);
  cursor: pointer;
}
.signup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-container input{
  width: 220px;
  height: 42px;
  margin-bottom: 0px; 
  padding-left: 10px;
  border: 1px solid #222831;
  border-radius: 8px;
  background-color: #fff;
}
.signup-container button{
  height: 42px;
  width: 90px;
  background: #222831;
  border: none;
  border-radius: 12px;
  font-family: "Bubbler One",sans-serif;
  font-size: 15px;
  color: white;
  margin-top: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.25s ease, opacity 0.2s;
}
.signup-container button:hover{
  transform: scale(1.06);
  opacity: 0.8;
}
.signup-container button:active{
  transform: scale(0.98);
  opacity: 0.5;
}
.right-section a{
  color: #222831;
}

.error-message{
  display: block; 
  width: 220px; 
  color: #222831; 
  font-size: 0.85em; 
  text-align: left;
  margin-top: 2px; 
  margin-bottom: 20px; 
}