*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Geom", sans-serif;
  height: 100vh;
}
.wrapper{
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
}
.left-section h1{
  text-align: center;
}
.left-section{
  color: #F1F3E0;
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: linear-gradient(to bottom,#D2DCB6 0%,#A1BC98 50%,#778873 100%);
}
.right-section h2{
  width: 200px;
  text-align: center;
  margin-bottom: 25px;
}
.right-section{
  color:#778873;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f3e0;
}
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-container input{
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
  padding-left: 5px;
  border: 1px solid #778873;
  border-radius: 5px;
}
.login-container button{
 height: 35px;
 width: 60px;
 background: #778873;
 border: none;
 border-radius: 5px;
 font-family: "Geom",sans-serif;
 color: white;
 margin-top: 15px;
 margin-bottom: 20px;
 cursor: pointer;
 transition: transform 0.25s ease, opacity 0.2s;
}
.login-container button:hover{
  transform: scale(1.06);
  opacity: 0.8;
}
.login-container button:active{
  transform: scale(0.98);
  opacity: 0.5;
}
.right-section a{
  text-decoration: underline;
  color:#778873;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #778873;
  color: #F1F3E0;
}
